@import './mixins';
@import './variables';

.header-content {
    background-color: $gray-color;
    display: flex;
    border-radius: 0px 0px 5px 5px;
}

p {
    font-family: 'HelveticaNeue';
    line-height: 18px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    align-self: center;
    margin-left: 80px;
}

.header {
    margin-bottom: 60px;
}

#header1 {
    width: $standard-width;
    height: 100px;
    float: left;
    margin-right: 20px;

}

#header2 {
    width: 600px;
    height: 100px;
    text-align: center;

}

.main-footer {
    margin-top: 60px;
    height: 100px;
    background-color: $gray-color;
    border-radius: 0px 0px 5px 5px;
    display: flex;
}

.container {
    margin: auto;
    max-width: 940px;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.text-part {
    h1 {
        width: $standard-width;
        height: 120px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        color: #134880;
        margin-top: 0px;
        margin-bottom: 20px;
        letter-spacing: -0.2px;
    }
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    width: 292px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #484a4c;
}

.gallery-part {
    margin-left: -2000px;
}

.second-row {
    display: flex;
    justify-content: flex-end;
}

.second-row {
    >.slider {
        margin-bottom: 0px;
    }
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.navigation-buttons {
    #left-button {
        background: url("/dist/images/arrow-gray-left.png");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $gray-color;
        height: 60px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    #right-button {
        background: url("/dist/images/arrow-gray-right.png");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $gray-color;
        height: 60px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.navigation-buttons {
    >#left-button:hover {
        background-image: url("/dist/images/arrow-blue-left.png");
        border: 1px solid $blue-color;
        border-radius: 5px;
    }

    >#right-button:hover {
        background-image: url("/dist/images/arrow-blue-right.png");
        border: 1px solid $blue-color;
        border-radius: 5px;
    }
}

.slider {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.image-item {
    height: 200px;
    border-radius: 5px;
    margin-left: 5px;
    @include transition;
}

.image-item:not(:last-child) {
    margin-right: 5px;
}

.image-item:last-child {
    margin-right: 0;
}

.fade-out {
    animation: fade-out $transition-duration ease-out;
}

.fade-in {
    animation: fade-in $transition-duration ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}